# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/

# Models (large binary files)
src/models/*.onnx

# Captures output
./detections

# Debug files
debug_stream.py
dummy_stream.mp4

# IDE
.vscode/
.idea/
